
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ffffff, #dddddd);
}

/* Login Card */
.login-container {
    width: 350px;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Heading */
.login-container h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

/* Input Group */
.input-grp {
    margin-bottom: 15px;
}

.input-grp label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

.input-grp input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
}

.input-grp input:focus {
    border-color: #c2c2c2;
    box-shadow: 0 0 5px rgba(174, 174, 174, 0.5);
}


.login-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #828282;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background-color: #cbcbcb;
}

/* Links */
.links {
    text-align: center;
    margin-top: 15px;
}

.links p {
    margin-top: 8px;
}

.links a {
    text-decoration: none;
    color: #050505;
    font-weight: 600;
}

.links a:hover {
    text-decoration: underline;
}